<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DJ Maps</title>

  {% load bootstrap4 %}
  {# pip install django-bootstrap4 #}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% block extra_assets %}{% endblock extra_assets %}

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'dj_map_app:index' %}">DJ Maps</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dj_map_app:points' %}">
            Points
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dj_map_app:large' %}">
            Large
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text"> Hello, {{ user.username }}.</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users_app:logout' %}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users_app:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users_app:login' %}">Log in</a>
        </li>
        {% endif %}
      </ul>
    </div>

  </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>

</body>

<footer class="page-footer font-small blue pt-4">
  {% if dump %}
  <div  class="border">
    <h2>DUMPED VARS</h2>
    {{ dump }}
  </div>
  {% endif %}

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://devincowan.host/">DC</a>
  </div>

</footer>

</html>
