{# {% extends "dj_map_app/base.html" %} #this child template extends base #}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

{% load static %}
<script src="{% static 'leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
<script src="{% static 'spin.js/spin.min.js' %}"></script>
<script src="{% static 'leaflet-spin/leaflet.spin.js' %}"></script>

{% block page_header %}
<h1>Large map</h1>
{% endblock page_header %}

{% block content %}

<div id="dj_map"></div>
<style>
#dj_map {
  height: 100vh;
}
</style>
<script>
  var map = L.map("dj_map").setView([37.7035675, -107.9], 10);

  var url = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
  attr ='Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
  topo = new L.TileLayer(url, {maxZoom: 17, attribution: attr});
  // map.addLayer(topo);

  var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'dj_map_app:nearby_points_data' %}", {
    style:function(feature){
      // add styles
    },

    onEachFeature:function(feature, layer) {
      layer.bindPopup(feature.properties.text.toString());
    }
  });

  var naip = L.tileLayer(
    "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
    {
      attribution:
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: "mapbox/satellite-v9",
      tileSize: 512,
      zoomOffset: -1,
      accessToken:
      "pk.eyJ1IjoibXNjaG1pZHR5IiwiYSI6ImNrYXBpajZ0ODBldzkycXFpMzdnZTl1NHgifQ.VJk0a0Ze7XUT4B5AEdlgUQ"
    }
  );

  var baseMaps = {
    "Topo": topo,
    "NAIP": naip
  };

  var overlayMaps = {
    "Points": geojsonPointLayer
  };

  L.control.layers(baseMaps, overlayMaps).addTo(map);

</script>

{% endblock content %}
