{% extends "dj_map_app/base.html" %}

{% load static %}

{% block extra_assets %}
{% load leaflet_tags %}
  {% leaflet_js %}
  {% leaflet_css %}

  <script src="{% static 'leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
  <script src="{% static 'leaflet-routing-machine/dist/leaflet-routing-machine.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'leaflet-routing-machine/dist/leaflet-routing-machine.css' %}"></script>
  <script src="{% static 'spin.js/spin.min.js' %}"></script>
  <script src="{% static 'leaflet-spin/leaflet.spin.js' %}"></script>

{% endblock %}

{% block page_header %}
<h1>Large map</h1>
{% endblock page_header %}

{% block content %}

<div id="dj_map"></div>
<style>
#dj_map {
  height: 100vh;
}
</style>
<script>
  var map = L.map("dj_map").setView([37.7035675, -107.9], 10);

  var url = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
  attr ='Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
  topo = new L.TileLayer(url, {maxZoom: 17, attribution: attr});

  url = 'https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=3df4052ee1414ec4955e461b5f0d19c8'
  outdoor = new L.TileLayer(url, {maxZoom: 17});

  url = 'https://tile.thunderforest.com/transport/{z}/{x}/{y}.png?apikey=3df4052ee1414ec4955e461b5f0d19c8'
  transportation = new L.TileLayer(url, {maxZoom: 17});

  var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'dj_map_app:nearby_points_data' %}", {
    style:function(feature){
      // add styles
    },

    onEachFeature:function(feature, layer) {
      layer.bindPopup(feature.properties.text.toString());
    }
  });

  var baseMaps = {
    "Topo": topo,
    "Outdoor": outdoor,
    "Transportation": transportation
  };

  var overlayMaps = {
    "Points": geojsonPointLayer
  };

  L.control.layers(baseMaps, overlayMaps).addTo(map);

  control = L.Routing.control({
    // waypoints: [
    //   L.latLng(37.937492, -107.812286),
    //   L.latLng(37.348885, -108.585930)
    // ]
  })
  control.addTo(map);

  function createButton(label, container) {
    var btn = L.DomUtil.create('button', '', container);
    btn.setAttribute('type', 'button');
    btn.innerHTML = label;
    return btn;
  }

  map.on('click', function(e) {
    var container = L.DomUtil.create('div'),
    startBtn = createButton('From here', container),
    destBtn = createButton('To here', container);
    saveBtn = createButton('Save', container);

    L.popup()
    .setContent(container)
    .setLatLng(e.latlng)
    .openOn(map);

    L.DomEvent.on(startBtn, 'click', function() {
        control.spliceWaypoints(0, 1, e.latlng);
        map.closePopup();
    });

    L.DomEvent.on(destBtn, 'click', function() {
      control.spliceWaypoints(control.getWaypoints().length - 1, 1, e.latlng);
      map.closePopup();
        });

    L.DomEvent.on(saveBtn, 'click', function() {
      mark = L.marker( e.latlng );
      mark.addTo(map);
      $.ajax(
        {
          type:"POST",
          url: "{% url 'dj_map_app:new_point_post' %}",
          data:{
            geometry: JSON.stringify(mark.toGeoJSON().geometry),
            // TODO: pop input for text
            text: 'AJAX TEST',
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function( data )
          {
            // $( '#like'+ id ).removeClass('btn btn-primary btn-lg');
            // $( '#like'+ id ).addClass('btn btn-success btn-lg');
          },
          error: function (response) {
            console.log(response)
          }
        }
      );
      map.closePopup();
    });
});

</script>

{% endblock content %}
