{# {% extends "base.html" %} #this child template extends base #}
{# TODO: leaflet only loads if the template doesn't extend base... #}

{% load leaflet_tags %}

{% leaflet_css %}
{% leaflet_js %}

{% load static %}
<script src="{% static 'leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
<script src="{% static 'spin.js/spin.min.js' %}"></script>
<script src="{% static 'leaflet-spin/leaflet.spin.js' %}"></script>

{% block page_header %}
<h1>Points</h1>
{% endblock page_header %}

{% block content %}

<script type="text/javascript">
  function map_init_basic (map, options) {
    var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'dj_map_app:points_data' %}", {
      onEachFeature:function(feature, layer) {
        layer.bindPopup(feature.properties.text.toString());
      }
    });
    geojsonPointLayer.addTo(map);
    console.log(geojsonPointLayer);
  }
</script>

{% leaflet_map "dj-map" callback="window.map_init_basic" %}

<ul>
  {% for point in points %}
  <li><h3>
    <a href="{% url 'dj_map_app:point' point.id %}">{{ point}}</a>
  </h3></li>
  {% empty %}
  <li><h3>No points added yet...</h3></li>
  {% endfor %}
</ul>

<h3><a href="{% url 'dj_map_app:new_point' %}">Add a new Point</a></h3>

{% endblock content %}
